
.back_container{
    height: 100%;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../../assets/img/header.jpg');
    background-size: cover;
    background-position: 80%;
}
.backoffice_connexion{
    padding: 1rem;
    border-radius: $border-radius;
    background-color: $primary-color;
    box-shadow: 6px 5px 13px -4px rgba(255,96,57,0.58);
    width: 60%;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    p{
        font-size:1.3rem;
        color: #fff;
        text-align: center;
    }
    input::placeholder{
        color:#fff;
        opacity: 0.9;
    }
    input{
        @include input;
        color: #fff;
        width: 100%;
        @include glassmorphism;
    }
    button{
        background-color: $secondary-color;
        margin: 1.2rem;
    }
}

.content_back{

    padding: 2rem 1rem ;

    table{
        @include liste;
    }
    form{
        fieldset{
            width: 100%;
            padding: 2rem 1rem;
            label{
                display: inline-block;
                width: 33%;
            }
            input, select, textarea{
                width: 65%;
                @include input;
                box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.63);
                -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.63);
                -moz-box-shadow: 1px 0px 8px 0px rgba(0,0,0,0.63);
                margin: 0 0.5rem;
            }
        }

        fieldset+fieldset{
            border-top: 1px dotted #000;
        }
    }
}

.back_header{
    background-color: $secondary-color;
    padding: 1rem 0;

    a{
       color: #fff; 
    }
    a:hover{
        color: $primary-color;
    }
    nav{
        display: flex;
        justify-content: space-around;
    }
}

#form_search{
    // background-color: #FAFAFF;
    padding: 1rem 0.5rem;
    border-radius: $border-radius;
    display: flex;
    justify-content: space-around;
    input, select{
        width: 45%;
        padding: 1rem 2rem;
        border:none;
        box-shadow: 6px 5px 13px -4px #5a5a5acb;
        &:focus-visible {
            outline:none;
        }
    }
    button{
        padding: 1rem 2rem;
    }
}

#liste_resultat{
    cursor: pointer;
    tr:hover{
        background-color: #d0d0db;
    }
}