@mixin glassmorphism {
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
@mixin glassmorphism-menu {
    background: rgba(255, 96, 57, 0.6); 
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
