@mixin glassmorphism-header {
  background: #D4D4D4B2; 
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
@mixin glassmorphism-header-input {
  background: rgb(0 0 0 / 33%); 
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border-radius: $border-radius;
  padding: 1rem;
  border:none;
}

@mixin glassmorphism {
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
@mixin glassmorphism-menu {
    background: rgba(255, 96, 57, 0.6); 
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

@mixin glassmorphism-menu-back {
  background: #96000057; 
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

@mixin glassmorphism-card {
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border-top: 1px solid #FFFFFF66;
}

@mixin input {
  border-radius: $border-radius;
  padding: 1rem;
  border: none;
  background-color: transparent;
    &:focus-visible {
        outline:none;
    }
}

@mixin liste {
  border-collapse: collapse;
  width: 100%;
  thead{
      display: none;
      border-bottom: 1px solid $primary-color;
      color: $secondary-color;
  }
  tr{
      display: block;
      margin-bottom: 1rem;
      padding: 1rem;
      transition: all 0.4s ease-in-out;
  }
  td{
      display: block;
      text-align: right;
      a{
        margin: 0 1rem 0 0;
        font-size: 1rem;
        padding: 1rem 2rem;
      }
      a:last-child{
        margin: 0;
      }
  }
  td::before{
      content:attr(data-nom);
      float: left;
      font-weight: bold;
  }
  tr:nth-child(even) {
      background-color: #ff603929; 
  }
  .disabled_tr{
      opacity: 0.4;
  }
  .lien_logement{
    font-size: 1.5rem;
    color: $primary-color;
    font-weight: bold;
    text-decoration: underline;
    padding: 0;
  }

  @media only screen and (min-width: 1024px) {
    thead{
      display: table-header-group;
    }
    td::before{
        content:"";
    }
    tr{
        display: table-row;
      
    }
    td{
        display: table-cell;
        text-align: center;
        padding: 10px;
    }
  }
}
