@media only screen and (min-width: 1024px) {
    button.save span, .button.save span, button.delete span,  button.switch span, .button.delete span, button.back span, .button.back span{
        display: inline-block;
     }
     
    .back_header{
        nav{ 
            .menu-burger{
                display: none;
            }
            a.menu-desktop{
                display: flex;
                color:#fff;
                font-weight: bold;
                white-space: nowrap;
            }
        }
    }
    .menu_header{
        display: flex;
        justify-content: flex-end;
        gap: 4rem;
    }
    .header{
        border-radius: 0 0 $border-radius $border-radius ;
        max-width: 130rem;
        margin: 0 auto;
        nav{ 
            .menu-burger{
                display: none;
            }
            a.menu-desktop{
                display: flex;
                color:#fff;
                font-weight: bold;
                white-space: nowrap;
            }
        }
    }

    
    .footer{
        max-width: 110rem;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-around;
        background-position: 40% 0;
        section{
            width: 40%;
            &.contact_site h3{
                margin-top: 0;
            }
            &.lien_rapide nav{
                flex-direction: column;
                a{
                    margin: 2rem 0;
                }
            }
        }

    }
    .container{
        margin-left: auto;
        margin-right: auto;
        max-width: 110rem;
        margin-top: 6rem;
        #form_inscription, #form_connexion{
            max-width: 33%;
            margin: 10rem auto;
        }
    }

    .backoffice_connexion {
        width: 35rem;
    }

    .content_back{
        margin-left: auto;
        margin-right: auto;
        max-width: 110rem;
        table{
            width: 80%;
            margin: 4rem auto;
        }

        #form_search{
            justify-content: flex-start;
            input, select{
                width: 20%;
                margin-right: 3rem;
            }
        }
        .stat_back{
            flex-direction: row;
        }
    }
    .search_lodgement{
        width: 40%;
        top: initial;
        bottom: 0;
        transform: translate(-50%, 50%);
        button{
            width: initial;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 55%);
        }
        form{
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
    .resultat_logement{
        .liste_logement{
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .lodgement_description{
        grid-template-areas:
        "grid1 grid2"
        "grid3 grid2";
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
        .grid1{
        margin-bottom: 2rem;
            img{
                width: 100px;
            }
        }
    }

    .lodgement_picture{
        width: 50%;
    }
}


