@import "_variables.scss";
@import "_font.scss";
@import "_mixin.scss";
@import "_backoffice.scss";

// GENERAL

html {
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    font-family: 'Figtree';
}

a{
    text-decoration: none;
}
fieldset{
    border: none;
}

main{
    section{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

// input, textarea{
//     @include input;
// }

input.error{
    border-bottom: red 2px solid;
}

button, .button{
    background-color: $primary-color;
    transition: all 0.4s ease-in-out;
    color: #fff;
    border-radius: $border-radius ;
    padding: 1rem 4rem;
    border: none;
    margin-left: auto;
    &:hover{
        background-color: $primary-color-hover;
    }
}

button:hover{
    cursor: pointer;
}

// HEADER

.header{
    padding-top: 3rem;
    border-radius: 0 0 $border-radius $border-radius ;
    nav{
        background-color: $primary-color;
        border-radius: $border-radius;
        width: 75%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3rem;
        padding: 2rem 3rem;
        margin: 0 auto;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                margin-top: 0.4rem;
                width: 7rem;
                height: auto;
            }
            &.menu-desktop{
                display: none;
            }
        }
        i{
            color:#fff;
            cursor: pointer;
        }   
    }
    .menu-list{
        z-index: 2;
        display: block;
        width: 100%;
        position: absolute;
        top: -25rem;
        left: 0;
        height: auto;
        background: #f55f39b7;
        border-bottom: $primary-color 0.2rem solid;
        @include glassmorphism-menu;
        transition: all 1s ease-in-out;
        ul{
            li {
                list-style-type: none;
                margin-bottom: 1rem;
                a{
                    color:#fff;
                    font-weight: bold;
                }
            }
            li:first-child{
                border-bottom: #fff 1px solid;
                margin-bottom: 1.5rem;
            }
        }
        

    }
    .show-menu {
        top: 0;
    }

    
}

header.home-header{
    height: 40rem;
    background-image: url('../../assets/img/header.jpg');
    background-size: cover;
    background-position: 80%;
}

// FOOTER

.footer{
    border-radius: $border-radius $border-radius 0 0;
    background-color: $secondary-color;
    background-image: url('../../assets/img/footer.png');
    background-repeat: no-repeat;
    background-position: 1.5rem 0;
    color: #fff;
    padding: 10rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    h3{
        font-size: 2.5rem;
    }
    nav{
        display: flex;
        flex-direction: row;
        a{
            color: #fff;
            font-size: 1.2rem;
        }

        a+a{
            margin-left: 1.2rem;
        }
    }
    form{
        input{
            @include input;
            width: 47%;
            margin-bottom: 1rem;
            background-color: transparent;
            color:#fff;
            @include glassmorphism;
        }
        input::placeholder{
            color:#fff;
            opacity: 0.7;
        }
        textarea{
            @include input;
            width: 100%;
            resize: none;
            margin-bottom: 1rem;
            color:#fff;
            @include glassmorphism;
        }
        textarea::placeholder{
            color:#fff;
            opacity: 0.7;
        }
        fieldset{
            padding:0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
    }
}

// CONNEXION / INSCRIPTION

#form_inscription{
    display: none;
    input{
        @include input;
    }
}

#form_inscription.show{
    display: block;
}

#form_connexion{
    display: none;
    input{
        @include input;
    }
}

#form_connexion.show{
    display: block;
}

#form_inscription, #form_connexion{
    background-color: #F2F2F2;
    border-radius: $border-radius;
    padding: 1rem;
    input{
        width: 100%;
        @include glassmorphism;
    }
    .toggleForm{
        color: $primary-color;
        cursor: pointer;
    }
    .toggleForm:hover{
        color: $secondary-color;
    }
    fieldset>:not(:first-child){
        margin-top: 1rem;
    }
}

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
}

#message_inscription.success, #message_connexion.success{
    color : #1db10a;
}

#message_inscription.error, #message_connexion.error{
    color : #c40808;
}

@import "_responsive_desktop.scss";