@import "_variables.scss";
@import "_font.scss";
@import "_mixin.scss";


// GENERAL

html {
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    font-family: 'Figtree';
}

a{
    text-decoration: none;
}
fieldset{
    border: none;
}

main{
    section{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

h1:not(.h1_back){
    color :$secondary-color;
    position: relative;
}

h1:not(.h1_back):after{
    content: '';
    display: block;
    width: 20%;
    height: 0.3rem;
    background-color: $primary-color;
    position: absolute;
    left: 0;
    bottom: -1rem;
}

// input, textarea{
//     @include input;
// }

input.error{
    border-bottom: red 2px solid !important;
}

button, .button{
    background-color: $primary-color;
    transition: all 0.4s ease-in-out;
    color: #fff;
    border-radius: $border-radius ;
    padding: 1rem 3.5rem;
    border: none;
    font-size: 1.4rem;
    margin-right: 1rem;
    &:hover{
        background-color: $primary-color-hover;
    }
}

button.save span, .button.save span, button.delete span, .button.delete span, button.back span, .button.back span{
    display: none;
 }
 

button:hover{
    cursor: pointer;
}

.tooltip{
    position: relative;
}

.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: $secondary-color;
    border: 2px solid $secondary-color;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    visibility: hidden;
    font-size: 1.3rem;
}


.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}

// HEADER

.header{
    padding-top: 3rem;
    nav{
        background-color: $primary-color;
        border-radius: $border-radius;
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3rem;
        padding: 2rem 3rem;
        margin: 0 auto;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                margin-top: 0.4rem;
                width: 7rem;
                height: auto;
            }
            &.menu-desktop{
                display: none;
            }
        }
        i{
            color:#fff;
            cursor: pointer;
        }   
    }
    .menu-list{
        z-index: 2;
        display: block;
        width: 100%;
        position: absolute;
        top: -25rem;
        left: 0;
        height: auto;
        background: #f55f39b7;
        border-bottom: $primary-color 0.2rem solid;
        @include glassmorphism-menu;
        transition: all 1s ease-in-out;
        ul{
            li {
                list-style-type: none;
                margin-bottom: 1rem;
                a{
                    color:#fff;
                    font-weight: bold;
                }
            }
            li:first-child{
                border-bottom: #fff 1px solid;
                margin-bottom: 1.5rem;
            }
        }
    }
    .show-menu {
        top: 0;
    }
}
.menu_header{
    display: none;
}

header.home-header{
    height: 50rem;
    background-image: url('../../assets/img/header.webp');
    background-size: cover;
    background-position: 80%;
    position:relative;
}

// FOOTER

.footer{
    border-radius: $border-radius $border-radius 0 0;
    background-color: $secondary-color;
    background-image: url('../../assets/img/footer.png');
    background-repeat: no-repeat;
    background-position: 1.5rem 0;
    color: #fff;
    padding: 10rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    h3{
        font-size: 2.5rem;
    }
    nav{
        display: flex;
        flex-direction: row;
        a{
            color: #fff;
            font-size: 1.2rem;
        }

        a+a{
            margin-left: 1.2rem;
        }
    }
    form{
        input{
            @include input;
            width: 47%;
            margin-bottom: 1rem;
            background-color: transparent;
            color:#fff;
            @include glassmorphism;
        }
        input::placeholder{
            color:#fff;
            opacity: 0.7;
        }
        textarea{
            @include input;
            width: 100%;
            resize: none;
            margin-bottom: 1rem;
            color:#fff;
            @include glassmorphism;
        }
        textarea::placeholder{
            color:#fff;
            opacity: 0.7;
        }
        fieldset{
            padding:0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
    }
}

// CONNEXION / INSCRIPTION

#form_inscription{
    display: none;
    input{
        @include input;
    }
}

#form_inscription.show{
    display: block;
}

#form_connexion{
    display: none;
    input{
        @include input;
    }
}

#form_connexion.show{
    display: block;
}

#form_inscription, #form_connexion{
    background-color: #F2F2F2;
    border-radius: $border-radius;
    padding: 1rem;
    input{
        width: 100%;
        @include glassmorphism;
    }
    .toggleForm{
        color: $primary-color;
        cursor: pointer;
    }
    .toggleForm:hover{
        color: $secondary-color;
    }
    fieldset>:not(:first-child){
        margin-top: 1rem;
    }
}

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
    table.liste{
        @include liste;
    }
}

#message_inscription.success, #message_connexion.success{
    color : #1db10a;
}

#message_inscription.error, #message_connexion.error{
    color : #c40808;
}

.search_lodgement{
    @include glassmorphism-header;
    position: absolute;
    width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
    padding: 1rem 2rem;
    border-radius: $border-radius;
    legend{
        color:#fff;
        font-size: 1.4rem;
    }
    form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    button{
        width: 100%;
    }
    input{
        width: 100%;
        @include glassmorphism-header-input;
        &::placeholder{
            color: #fff;
        }
        &:focus-visible {
            outline:none;
        }
        color:#fff;
    }
    fieldset{
        padding-left: 0;
        padding-right: 0;
    }
}


//PAGE HOME 

.resultat_logement{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    figure{
        width: 100%;
        height: 20rem;
        margin: 0;
        position: relative;
        border-radius: $border-radius;
        overflow: hidden;
        cursor: pointer;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        figcaption{
           
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 40%;
            padding: 0.5rem;
            color: #fff;
            @include glassmorphism-card;
            .price{
                position: absolute;
                bottom: 0;
                right: 0;
                @include glassmorphism-header-input;
                border-radius: $border-radius 0 0 0;
                padding: .5rem 1rem;
                font-size: 1.3rem;
            }
            p{
                margin-top: 0.5rem;
            }
        }
    }
}

// PAGE LOGEMENT

.lodgement_title{
    color:$secondary-color;
    font-size: 2.8rem;
}

.lodgement_picture{
    border-radius: $border-radius;
    overflow: hidden;
    max-height: 25rem;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    img{
        max-width: 100%; 
        max-height: 100%;
        object-fit: contain; 
    }
}

.lodgement_description, .lodgement_reservation{
    border-radius: $border-radius;
    background-color: $secondary-color;
    padding: 1rem;
    color: #fff;
    i{
        color:$primary-color;
    }
    h3{
        display: inline-block;
    }
}
.lodgement_reservation{
    p{
        font-style: italic;
    }
}

.details_lodgement{
    display: inline-block;
    margin-left: 1rem;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: $border-radius;
    @include glassmorphism;
}

#reservation_form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    label{
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    input{
        @include input;
        @include glassmorphism;
        color: #fff;
    }
}

//MON COMPTE

.motdepassechange{
    background: $secondary-color;
    color: #fff;
    padding: 1rem;
    border-radius: $border-radius;
    label{
        display: inline-block ;
        width: 50%;
    }
    input{
        @include input;
        @include glassmorphism;
        color: #fff;
    }
    button{
        margin-top: 1rem;
    }
}

.logement_user{
    .button{
        display: inline-block;
        margin-bottom: 1rem;
    }
}
.lodgement_form{
    border-radius: $border-radius;
    background-color: $secondary-color;
    padding: 1rem;
    color: #fff;
    h3{
        display: inline-block;
    }
    fieldset{
        display: flex;
        flex-direction: column;
    }
    input{
        @include input;
        @include glassmorphism;
        color: #fff;
        &::placeholder{
            z-index: 2;
        }
    }
    textarea{
        @include input;
        @include glassmorphism;
        color: #fff;
        resize: none;
    }
}

#reponse_form{
    position: fixed;
    right: 0;
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 1rem; 
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0;
    &.error{
        background: #dd0000;
        animation: message 3s forwards;
    }
    &.success{
        background: #00d100;
        animation: message 3s forwards;
    }
}

@keyframes message {
    0% {
      opacity: 0;
      bottom: 0;
    }
    10% {
      opacity: 1;
      bottom: 3rem;
    }
    90% {
      opacity: 1;
      bottom: 3rem;
    }
    100% {
      opacity: 0;
      bottom: 0;
    }
  }
@import "_backoffice.scss";
@import "_responsive_tab.scss";
@import "_responsive_desktop.scss";